.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.button {
    background-color: $quaternary;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
}