.navBar {
    #contact {
        color: $tertiary;

        &:hover,
        &:focus {
            color: $secondary;
        }
    }
} // END navbar 

header {
    height: 500px;
} // END header

.contactHeader {
    background-color: rgba($color: $senary, $alpha: 0.1);

    .contactImgContainer {
        background-image: url("../assets/contact-image-1.jpg");
        background-size: cover;
        background-position: center;
        height: 400px;
        position: relative;
    }

    .wrapper {
        margin-top: -50px;
    }
    
    .contactTitle {            
        text-transform: uppercase;
        @include fontSize(100);
        position: absolute;
        margin-top: 0;

        &:hover,
        &:focus {
            transform: rotateY(360deg);
            transition: 3s;
            cursor: pointer;
        }
    } // END .contactTitle
} // END contactHeader

.contactMain {
    background-color: rgba($color: $senary, $alpha: 0.1);
    
    .wrapper {
    display: flex;
    justify-content: space-between;
    
        .contactContainer {
            width: 33%;
            background-color: white;
            height: 320px;

            .contactDetails {
                @include fontSize(25);
                padding: 40px 10px 60px 30px;
                justify-content: center;
                line-height: 30px;
                

                .socialLinks {
                    display: flex;
                    margin-bottom: 15px;

                    i {
                        @include fontSize(35);
                        color: $primary;
                        margin-right: 20px;

                        &:hover,
                        &:focus {
                            @include fontSize(45);
                            color: $quaternary;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    } // END i
                } // END .socialLInks           

                span {
                    font-weight: bold;
                }

                .address {
                    margin-top: 15px;
                }                
            } // END .contactDetails
        } // END .contactContainer
    }

    .contactForm {
        @include fontSize(30);
        margin: 0 0 50px 50px;
        width: 67%;
        display: flex;    

        .separateSection {
            display: flex;
            justify-content: space-between;
        }

        input,
        textarea {

            &:hover,
            &:focus {
                border: 3px solid $quaternary;
            }
        }

        input {
            margin-bottom: 20px;
            padding: 20px 30px;
            border: transparent;
            width: 49%;
            font-style: italic;
        }

        textarea {
            width: 100%;
            border: transparent;
            padding: 40px 0 20px 30px;
            resize: none;
            font-style: italic;
        }
        
        .contactButton { 
            @include fontSize(30);
            width: 100%;
            margin: 20px 0 50px;
        }
    } // .contactForm
} // .contactMain