header {
    background-color: $primary;
    height: 700px;
}

#home {

    .wrapper {        
        display: flex;
        justify-content: space-between;    
        padding-top: 50px;

            .headingTitle {
                width: 60%;
                display: flex;
                flex-direction: column;    
                padding-top: 150px;
                position: relative;

                .headingTitleContainer img {             
                    width: 24%;
                    position: absolute;
                    left: 0;
                    top: 100px;
                }

                h2 {
                    @include fontSize(180);                    
                    width: 100%;
                    position: absolute;
                    text-align: left;                    
                    text-transform: uppercase;
                    margin: 0 0 0 70px;
                }                
            }

            .headingImg {
                width: 42%;
                height: auto;

                .headerImgContainer {
                    width: 100%;  
                    box-shadow: 18px 18px;
                    color: $tertiary;
                    align-items: left;
                        img {               
                            height: 700px;
                        }

                }
                
            }            
    }   
}
