#home {
    background-color: $primary;
    height: 600px;

    .wrapper {        
        display: flex;
        justify-content: space-between;    
        padding-top: 40px;

            .headingTitle {
                width: 60%;
                display: flex;
                flex-direction: column;    
                margin-top: 150px;
                position: relative;

                .headingTitleContainer img {             
                    width: 22%;
                    position: absolute;
                    left: 0;
                    top: -40px;
                }

                h2 {
                    @include fontSize(170);                    
                    width: 100%;
                    position: absolute;
                    text-align: left;                    
                    text-transform: uppercase;
                    margin: 0 0 0 50px;
                }                
            }

            .headingImg {
                width: 42%;
                height: auto;
                position: relative;
                

                .headerImgContainer {                    
                    width: 100%;  
                    align-items: left;
                    position: absolute;
                    z-index: 2;
                        img {               
                            height: 700px;
                            border: transparent;
                            box-shadow: 18px 18px;
                            color: $tertiary;
                        }

                }
                
            }            
    }   
}
