.navBar {
    background-color: $primary;
    position: sticky;
    top: 0;
    z-index: 10;

    .mainMenu {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            text-transform: uppercase;


            #firstA {
                color: $tertiary;

                &:hover,
                &:focus {
                    color: $secondary;
                }
            }
            
	    a {
                text-decoration: none;
                color: $secondary;
                font-weight: bold;
                margin: 0 20px;
                transition: 0.3s;

                &:hover,
                &:focus {
                    color: $tertiary;
                }

            }
        }

        h1 {
            padding-bottom: 3px;
            margin: 0 25px;
            transition: 0.3s;

            &:hover,
            &:focus {
                color: $tertiary;
            }
        }
    }
}

.menuOpen {
    display: none;
}

.slideOutNav {
    background-color: $primary;    
    min-height: 100vh;
    max-width: 320px;
    left: -320px;
    position: fixed;
    top: 0;
    z-index: 20;
    font-weight: bold;
    text-transform: uppercase;
    @include fontSize(30);
    line-height: 45px;
    width: 100%;
    padding: 50px;
    transition: 0.3s;

    &.open {
        left: 0;
    }

    h1 {
        margin: 0;
        font-family: inherit;
    }


    li {
        &:hover,
        &:focus {
            color: $quaternary;
        }    
    }

    .menuOpen {
        display: none;
    }


    .menuClose {
        display: block;
        width: 100%;
        text-align: right;
        @include fontSize(30);
        transition: 0.3s;

        
    }

    .slideOutMenu {
        span {
                display: none;
        }  
    
        a {           
            color: black;  
            text-decoration: none;

            &:hover,
            &:focus {
                color: $tertiary;
            }
        }
    }
}
