$primary: #f6a823;
$secondary: #2c2c2c;
$tertiary: #f0efed;
$quaternary: #05afc1;
$quinary: #a82706;
$senary: #4f4f4f;
$septenary: #285e64;
$primaryFont: 'Lora', 'Bold', serif;
$secondaryFont: 'Roboto', 'Bold', sans-serif;
$tertiaryFont: 'Roboto', 'Regular', sans-serif;

body {
    @include fontSize(20);
    letter-spacing: 1px;
    color: $secondary;
    font-family: $tertiaryFont;
}

h1 {
    @include fontSize(40);
    letter-spacing: 0;
    color: $secondary;
    font-family: $primaryFont;
    text-transform: uppercase;
}

h2 {
    @include fontSize(42);
    letter-spacing: 1px;
    font-family: $primaryFont;
}

h3 {
    @include fontSize(32);
    letter-spacing: 1px;
    font-family: $secondaryFont;    
}

h4 {
    @include fontSize(24);
    letter-spacing: 1px;
    font-family: $secondaryFont;
}

h5 {
    @include fontSize(24);
    letter-spacing: 1px;
    color: $tertiary;
    font-family: $secondaryFont;
}

button {
    @include fontSize(20);
    letter-spacing: 1px;
    font-family: $secondaryFont;
}

.menu {
    @include fontSize(20);
    letter-spacing: 0;
    line-height: 32px;
    font-family: $secondaryFont;
}


