html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background-color: #f6a823;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

body {
  font-size: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #2c2c2c;
  font-family: "Roboto", "Regular", sans-serif;
}

h1 {
  font-size: 40px;
  font-size: 2rem;
  letter-spacing: 0;
  color: #2c2c2c;
  font-family: "Lora", "Bold", serif;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-family: "Lora", "Bold", serif;
}

h3 {
  font-size: 40px;
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: "Roboto", "Bold", sans-serif;
}

h4 {
  font-size: 30px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Roboto", "Bold", sans-serif;
}

h5 {
  font-size: 30px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #f0efed;
  font-family: "Roboto", "Bold", sans-serif;
}

button {
  font-size: 20px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Roboto", "Bold", sans-serif;
}

.menu {
  font-size: 20px;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 32px;
  font-family: "Roboto", "Bold", sans-serif;
}

p {
  font-size: 25px;
  font-size: 1.25rem;
  line-height: 32px;
  letter-spacing: 0;
}

a {
  letter-spacing: 0;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}
img:hover, img:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
  cursor: pointer;
}

button {
  border: none;
  padding: 15px 20px;
  background-color: #05afc1;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
}
button:hover, button:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #2c2c2c;
  color: #05afc1;
}

p {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navBar {
  background-color: #f6a823;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px 0 10px;
}
.navBar .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navBar .mainMenu li {
  text-transform: uppercase;
}
.navBar .mainMenu li a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: bold;
  margin: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar .mainMenu li a:hover, .navBar .mainMenu li a:focus {
  color: #f0efed;
}
.navBar .mainMenu li .logo {
  list-style: none;
}
.navBar .mainMenu h1 {
  padding-bottom: 3px;
  margin: 0 25px;
}

.menuOpen {
  display: none;
}

.slideOutNav {
  background-color: #f6a823;
  min-height: 100vh;
  max-width: 320px;
  left: -320px;
  position: fixed;
  top: 0;
  z-index: 20;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 45px;
  width: 100%;
  padding: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slideOutNav.open {
  left: 0;
}
.slideOutNav h1 {
  margin: 0;
  font-family: inherit;
}
.slideOutNav li:hover, .slideOutNav li:focus {
  color: #05afc1;
}
.slideOutNav .menuOpen {
  display: none;
}
.slideOutNav .menuClose {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 30px;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slideOutNav .slideOutMenu span {
  display: none;
}
.slideOutNav .slideOutMenu a {
  color: black;
  text-decoration: none;
}
.slideOutNav .slideOutMenu a:hover, .slideOutNav .slideOutMenu a:focus {
  color: #f0efed;
}

#home {
  background-color: #f6a823;
  height: 600px;
}
#home .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}
#home .wrapper .headingTitle {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  position: relative;
}
#home .wrapper .headingTitle .headingTitleContainer img {
  width: 22%;
  position: absolute;
  left: 0;
  top: -40px;
}
#home .wrapper .headingTitle h2 {
  font-size: 170px;
  font-size: 8.5rem;
  width: 100%;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 0 50px;
}
#home .wrapper .headingImg {
  width: 42%;
  height: auto;
  position: relative;
}
#home .wrapper .headingImg .headerImgContainer {
  width: 100%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  z-index: 2;
}
#home .wrapper .headingImg .headerImgContainer img {
  height: 700px;
  border: transparent;
  -webkit-box-shadow: 18px 18px;
          box-shadow: 18px 18px;
  color: #f0efed;
}

.navBar #home {
  color: #f0efed;
}
.navBar #home:hover, .navBar #home:focus {
  color: #2c2c2c;
}

.description {
  background-color: rgba(79, 79, 79, 0.1);
  padding: 120px 50px 160px 50px;
}
.description h3 {
  text-transform: uppercase;
}
.description p {
  padding-right: 150px;
  width: 90%;
}

.hobbySection .hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.hobbySection .hobby .item {
  width: 50%;
}
.hobbySection .hobby h4 {
  text-transform: uppercase;
  margin-top: 0;
}
.hobbySection .hobby p {
  margin-top: 0;
}
.hobbySection .hobby .favoriteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hobbySection .hobby .favoriteContainer .favoriteImgContainer {
  background-color: #a82706;
  margin-bottom: 100px;
  margin-top: -40px;
  height: 370px;
  width: 50%;
}
.hobbySection .hobby .favoriteContainer .favoriteImgContainer img {
  height: 370px;
  width: 68%;
  margin-right: 20px;
  margin-top: -20px;
  margin-left: auto;
}
.hobbySection .hobby .favoriteContent {
  padding: 75px 0 0 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hobbySection .hobby .favoriteContent .innerContent {
  width: 63%;
}
.hobbySection .hobby .favoriteContent h4, .hobbySection .hobby .favoriteContent p {
  text-align: left;
}
.hobbySection .hobby .favoriteContent h4 {
  margin-bottom: 15px;
}
.hobbySection .hobby .travelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hobbySection .hobby .travelContainer .travelContent {
  margin-top: -20px;
  text-align: right;
  padding: 0 70px 70px 100px;
}
.hobbySection .hobby .travelContainer .travelContent h4 {
  margin-bottom: 15px;
}
.hobbySection .hobby .travelContainer .travelContent p {
  padding-left: 220px;
}
.hobbySection .hobby .travelContainer .travelContent .button {
  margin-top: 10px;
}
.hobbySection .hobby .travelContainer .travelImgContainer {
  width: 50%;
  background-color: #f6a823;
  height: 370px;
}
.hobbySection .hobby .travelContainer .travelImgContainer img {
  height: 370px;
  width: 68%;
  margin-top: -20px;
  margin-left: -20px;
}

.contact {
  margin-top: -40px;
  background-color: rgba(79, 79, 79, 0.1);
  padding: 40px 0;
}
.contact .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}
.contact .contactInfo .content {
  width: 50%;
}
.contact .contactInfo .content p {
  margin-top: 0;
  padding: 0 50px 40px 50px;
}
.contact .contactInfo .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .contactInfo .icon i {
  background-color: #f6a823;
  padding-left: 3px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
.contact .contactInfo .icon i:hover, .contact .contactInfo .icon i:focus {
  font-size: 30px;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .contactInfo .icon h5 {
  color: #2c2c2c;
  text-transform: uppercase;
}

.journey {
  background-color: rgba(79, 79, 79, 0.1);
}
.journey .journeyTopImgContainer {
  background-image: url("../assets/home-image-4.jpg");
  height: 500px;
}
.journey .journeyContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.journey .journeyContentContainer .journeyBottomImgContainer {
  width: 22%;
}
.journey .journeyContentContainer .journeyBottomImgContainer img {
  color: #f6a823;
  -webkit-box-shadow: 18px 18px;
          box-shadow: 18px 18px;
}
.journey .journeyContentContainer .journeyContent {
  width: 78%;
  padding-left: 100px;
}
.journey .journeyContentContainer .journeyContent h3 {
  margin-top: 0;
  text-transform: uppercase;
}

.imgGalleryContainer {
  padding: 90px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.imgGalleryContainer .img1, .imgGalleryContainer .img2, .imgGalleryContainer .img3 {
  width: 31.5%;
}
.imgGalleryContainer .img1:hover, .imgGalleryContainer .img1:focus, .imgGalleryContainer .img2:hover, .imgGalleryContainer .img2:focus, .imgGalleryContainer .img3:hover, .imgGalleryContainer .img3:focus {
  -webkit-box-shadow: 18px 18px 10px;
          box-shadow: 18px 18px 10px;
}

footer {
  background-color: #2c2c2c;
  padding: 1px;
}
footer .wrapper {
  text-align: center;
  color: #f0efed;
}

.navBar #contact {
  color: #f0efed;
}
.navBar #contact:hover, .navBar #contact:focus {
  color: #2c2c2c;
}

header {
  height: 500px;
}

.contactHeader {
  background-color: rgba(79, 79, 79, 0.1);
}
.contactHeader .contactImgContainer {
  background-image: url("../assets/contact-image-1.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}
.contactHeader .wrapper {
  margin-top: -50px;
}
.contactHeader .contactTitle {
  text-transform: uppercase;
  font-size: 100px;
  font-size: 5rem;
  position: absolute;
  margin-top: 0;
}
.contactHeader .contactTitle:hover, .contactHeader .contactTitle:focus {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 3s;
  transition: 3s;
  cursor: pointer;
}

.contactMain {
  background-color: rgba(79, 79, 79, 0.1);
}
.contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactMain .wrapper .contactContainer {
  width: 33%;
  background-color: white;
  height: 320px;
}
.contactMain .wrapper .contactContainer .contactDetails {
  font-size: 25px;
  font-size: 1.25rem;
  padding: 40px 10px 60px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
}
.contactMain .wrapper .contactContainer .contactDetails .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.contactMain .wrapper .contactContainer .contactDetails .socialLinks i {
  font-size: 35px;
  font-size: 1.75rem;
  color: #f6a823;
  margin-right: 20px;
}
.contactMain .wrapper .contactContainer .contactDetails .socialLinks i:hover, .contactMain .wrapper .contactContainer .contactDetails .socialLinks i:focus {
  font-size: 45px;
  font-size: 2.25rem;
  color: #05afc1;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contactMain .wrapper .contactContainer .contactDetails span {
  font-weight: bold;
}
.contactMain .wrapper .contactContainer .contactDetails .address {
  margin-top: 15px;
}
.contactMain .contactForm {
  font-size: 30px;
  font-size: 1.5rem;
  margin: 0 0 50px 50px;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactMain .contactForm .separateSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactMain .contactForm input {
  margin-bottom: 20px;
  padding: 20px 30px;
  border: transparent;
  width: 49%;
  font-style: italic;
}
.contactMain .contactForm textarea {
  width: 100%;
  border: transparent;
  padding: 40px 0 20px 30px;
  resize: none;
  font-style: italic;
}
.contactMain .contactForm .contactButton {
  font-size: 30px;
  font-size: 1.5rem;
  width: 100%;
  margin: 20px 0 50px;
}

.navBar #blog {
  color: #f0efed;
}
.navBar #blog:hover, .navBar #blog:focus {
  color: #2c2c2c;
}

.blogHeading {
  margin-top: -200px;
}
.blogHeading h2 {
  font-size: 100px;
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 100px;
  font-size: 5rem;
  position: absolute;
  margin-top: 0;
}
.blogHeading h2:hover, .blogHeading h2:focus {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 3s;
  transition: 3s;
  cursor: pointer;
}

.headerImgContainer img {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.blogContent {
  background-color: #f0efed;
}
.blogContent .wrapper {
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogContent .wrapper .sophieInfo {
  width: 40%;
}
.blogContent .wrapper .sophieInfo .sophiePhotoContainer {
  width: 100%;
  background-color: white;
  width: 80%;
  padding: 35px 0 20px 40px;
  margin-bottom: 30px;
}
.blogContent .wrapper .sophieInfo .sophiePhotoContainer .sophiePhoto {
  width: 55%;
}
.blogContent .wrapper .sophieInfo .sophiePhotoContainer .sophiePhoto .sophieImgContainer {
  width: 100%;
}
.blogContent .wrapper .sophieInfo .sophiePhotoContainer .sophiePhoto .sophieImgContainer img {
  width: 160%;
  height: 400px;
}
.blogContent .wrapper .sophieInfo .sophieSummary h4 {
  text-transform: uppercase;
}
.blogContent .wrapper .sophieInfo .sophieSummary p {
  width: 100%;
}
.blogContent .wrapper .sophieInfo .sophieSummary p a {
  color: #285e64;
  font-weight: bold;
  text-decoration: none;
}
.blogContent .wrapper .sophieInfo .sophieSummary p a:hover, .blogContent .wrapper .sophieInfo .sophieSummary p a:focus {
  cursor: pointer;
  color: #05afc1;
}
.blogContent .wrapper .sophieInfo .recentPost {
  background-color: white;
  width: 80%;
  padding: 10px 20px 30px 30px;
}
.blogContent .wrapper .sophieInfo .recentPost h4 {
  text-transform: uppercase;
}
.blogContent .wrapper .sophieInfo .recentPost ul {
  font-size: 25px;
  font-size: 1.25rem;
  line-height: 32px;
  margin-left: 20px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.blogContent .wrapper .sophieInfo .recentPost ul li {
  margin-left: 15px;
  list-style-type: disc;
  color: #f6a823;
}
.blogContent .wrapper .sophieInfo .recentPost ul li a {
  margin-left: 15px;
  color: #2c2c2c;
  text-decoration: none;
}
.blogContent .wrapper .sophieInfo .recentPost ul li a:hover, .blogContent .wrapper .sophieInfo .recentPost ul li a:focus {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  color: #05afc1;
}
.blogContent .wrapper .sophieStory {
  width: 60%;
}
.blogContent .wrapper .sophieStory .sophieFullBlog {
  background-color: white;
  padding: 40px;
}
.blogContent .wrapper .sophieStory .sophieFullBlog h3 {
  font-size: 48px;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-top: 0;
}
.blogContent .wrapper .sophieStory .sophieFullBlog .sophieStorySubtitle {
  font-size: 25px;
  font-size: 1.25rem;
  color: inherit;
  font-weight: normal;
  font-style: italic;
}
.blogContent .wrapper .sophieStory .sophieFullBlog .sophieStorySubtitle span {
  color: #285e64;
  font-weight: bold;
}
.blogContent .wrapper .sophieStory hr {
  border: 4px solid #f6a823;
  margin: 0;
}
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst {
  margin-top: 40px;
  padding: 40px 10px 10px;
  background-color: white;
}
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond {
  margin: 20px 0 0;
  padding: 40px 10px 10px;
  background-color: white;
}
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomFirstImg,
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomSecondImg,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomFirstImg,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomSecondImg {
  width: 15%;
  margin: 0 30px;
}
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomFirstContent,
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomSecondContent,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomFirstContent,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomSecondContent {
  width: 80%;
}
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomFirstContent h5,
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomSecondContent h5,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomFirstContent h5,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomSecondContent h5 {
  font-size: 25px;
  font-size: 1.25rem;
  color: #285e64;
  margin: 15px 0;
}
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomFirstContent p,
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomSecondContent p,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomFirstContent p,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomSecondContent p {
  margin: 0 0 20px;
}
.blogContent .wrapper .sophieStory .sophieStoryForm {
  margin-top: 40px;
}
.blogContent .wrapper .sophieStory .sophieStoryForm .separateSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogContent .wrapper .sophieStory .sophieStoryForm input {
  font-size: 30px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 20px 30px;
  border: transparent;
  width: 49%;
  font-style: italic;
}
.blogContent .wrapper .sophieStory .sophieStoryForm textarea {
  font-size: 30px;
  font-size: 1.5rem;
  width: 100%;
  border: transparent;
  padding: 40px 0 20px 30px;
  resize: none;
  font-style: italic;
}
.blogContent .wrapper .sophieStory .sophieStoryForm .contactButton {
  font-size: 30px;
  font-size: 1.5rem;
  width: 100%;
  margin: 20px 0 50px;
}

@media screen and (max-width: 1300px) {
  #home .wrapper .headingTitle .headingTitleContainer img {
    top: -30px;
  }
  .hobbySection .hobby .favoriteContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hobbySection .hobby .favoriteContainer .favoriteImgContainer {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 45%;
  }
  .hobbySection .hobby .favoriteContainer .favoriteImgContainer img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hobbySection .hobby .favoriteContainer .favoriteContent {
    margin: 30px 0 50px;
    padding: 0;
    width: 45%;
  }
  .hobbySection .hobby .favoriteContainer .favoriteContent .innerContent {
    text-align: left;
    width: 100%;
  }
  .hobbySection .hobby .travelContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45%;
  }
  .hobbySection .hobby .travelContainer .travelContent {
    margin: 30px 0 50px;
    padding: 0;
    width: 100%;
  }
  .hobbySection .hobby .travelContainer .travelContent .innerContent {
    text-align: left;
  }
  .hobbySection .hobby .travelContainer .travelContent .innerContent p {
    padding: 0;
  }
  .hobbySection .hobby .travelContainer .travelImgContainer {
    width: 100%;
    background-color: transparent;
    padding: 0;
  }
  .hobbySection .hobby .travelContainer .travelImgContainer img {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  #home .wrapper .headingTitle {
    margin-left: 23%;
  }
  #home .wrapper .headingTitle .headingTitleContainer img {
    width: 35%;
  }
  #home .wrapper .headerImgContainer img {
    display: none;
  }
  .description .wrapper {
    margin: 0 auto;
    width: 100%;
  }
  .description .wrapper p {
    padding: 0;
    width: 100%;
  }
  .blogContent .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContent .wrapper .sophieInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .blogContent .wrapper .sophieInfo .sophiePhotoContainer {
    width: 45%;
  }
  .blogContent .wrapper .sophieInfo .recentPost {
    width: 50%;
    height: 662px;
  }
  .blogContent .wrapper .sophieStory {
    margin-top: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .navBar .wrapper .topNav .menuOpen {
    display: block;
    background: transparent;
    margin: 15px 10px 10px 0;
    padding: 0;
  }
  .navBar .wrapper .topNav .menuOpen i {
    color: #f0efed;
    font-size: 50px;
    font-size: 2.5rem;
  }
  .navBar .wrapper .topNav .mainMenu {
    display: none;
  }
  .navBar .slideOutNav button {
    background-color: transparent;
    font-size: 50px;
    font-size: 2.5rem;
  }
  .navBar .slideOutNav button:hover, .navBar .slideOutNav button:focus {
    color: #f0efed;
  }
  #home {
    height: 500px;
  }
  #home .wrapper .headingTitle {
    margin: 90px 0 90px 90px;
  }
  #home .wrapper .headingTitle .headingTitleContainer img {
    left: -20px;
    width: 45%;
  }
  #home .wrapper .headingTitle h2 {
    margin-left: 20px;
  }
  #mainContent button {
    width: 100%;
  }
  .description {
    padding: 120px 40px 160px;
  }
  .description .wrapper {
    margin: 0 auto;
    width: 100%;
  }
  .description .wrapper p {
    padding: 0;
  }
  .hobbySection .hobby .favoriteContainer .favoriteImgContainer {
    width: 90%;
    margin: 0;
  }
  .hobbySection .hobby .favoriteContainer .favoriteContent {
    padding: 0;
    width: 90%;
  }
  .hobbySection .hobby .favoriteContainer .favoriteContent .innerContent p {
    padding-left: 15px;
  }
  .hobbySection .hobby .travelContainer {
    width: 90%;
    height: auto;
  }
  .hobbySection .hobby .travelContainer .travelImgContainer {
    width: 100%;
  }
  .hobbySection .hobby .travelContainer .travelImgContainer img {
    width: 100%;
  }
  .hobbySection .hobby .travelContainer .travelContent {
    width: 100%;
    padding: 0;
  }
  .contact {
    height: auto;
  }
  .contact .wrapper {
    width: 100%;
  }
  .contact .wrapper .contactInfo {
    margin: 0;
  }
  .contact .wrapper .contactInfo .content {
    width: 100%;
    margin-left: 20px;
  }
  .journey .journeyContentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journey .journeyContentContainer .journeyBottomImgContainer {
    width: 100%;
  }
  .journey .journeyContentContainer .journeyBottomImgContainer img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .journey .journeyContentContainer .journeyContent {
    margin-top: 30px;
    width: 100%;
    padding: 0;
  }
  .imgGallery .wrapper .imgGalleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .imgGallery .wrapper .imgGalleryContainer .img1,
.imgGallery .wrapper .imgGalleryContainer .img2,
.imgGallery .wrapper .imgGalleryContainer .img3 {
    width: 100%;
    margin-bottom: 40px;
  }
  .blogContent .wrapper p {
    font-size: 20px;
    font-size: 1rem;
  }
  .blogContent .wrapper .sophieInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContent .wrapper .sophieInfo .sophiePhotoContainer {
    width: 100%;
  }
  .blogContent .wrapper .sophieInfo .sophiePhotoContainer .sophiePhoto {
    margin-left: 18%;
  }
  .blogContent .wrapper .sophieInfo .sophiePhotoContainer .sophiePhoto .sophieImgContainer img {
    width: 100%;
  }
  .blogContent .wrapper .sophieInfo .sophiePhotoContainer .sophieSummary {
    width: 90%;
  }
  .blogContent .wrapper .sophieInfo .recentPost {
    width: 100%;
    height: 270px;
  }
  .blogContent .wrapper .sophieInfo .recentPost ul {
    font-size: 20px;
    font-size: 1rem;
    margin: 0;
  }
  .contactMain .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactMain .wrapper .contactContainer {
    margin: 100px 0 70px 40px;
    width: 67%;
  }
  .contactForm .separateSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactForm .separateSection input {
    width: 100%;
  }
}
@media screen and (max-width: 725px) {
  #home .wrapper .headingTitle {
    margin-left: 50px;
  }
  #home .wrapper .headingTitle h2 {
    font-size: 150px;
    font-size: 7.5rem;
  }
}
@media screen and (max-width: 660px) {
  #home .wrapper .headingTitle h2 {
    font-size: 130px;
    font-size: 6.5rem;
  }
}
@media screen and (max-width: 380px) {
  #home {
    height: 420px;
  }
  #home .wrapper .headingTitle {
    margin-left: 30px;
  }
  #home .wrapper .headingTitle .headingTitleContainer img {
    top: -20px;
    left: 0;
    width: 40%;
  }
  #home .wrapper .headingTitle h2 {
    font-size: 70px;
    font-size: 3.5rem;
    margin-left: 20px;
  }
  #mainContent button {
    width: 100%;
  }
  .description {
    padding: 80px 15px 100px;
  }
  .description .wrapper h3,
.description .wrapper p {
    margin-left: 15px;
  }
  .description .wrapper h3 {
    font-size: 35px;
    font-size: 1.75rem;
  }
  .description .wrapper p {
    font-size: 20px;
    font-size: 1rem;
  }
  .hobbySection .hobby h4 {
    font-size: 30px;
    font-size: 1.5rem;
    margin-left: 15px;
  }
  .hobbySection .hobby p {
    font-size: 20px;
    font-size: 1rem;
  }
  .hobbySection .hobby .favoriteContainer {
    margin-top: 10px;
  }
  .hobbySection .hobby .favoriteContainer .favoriteImgContainer {
    height: auto;
  }
  .hobbySection .hobby .favoriteContainer .favoriteImgContainer img {
    height: auto;
  }
  .hobbySection .hobby .favoriteContainer .favoriteContent {
    padding: 0;
    width: 90%;
  }
  .hobbySection .hobby .favoriteContainer .favoriteContent .innerContent p {
    padding-left: 15px;
  }
  .hobbySection .hobby .travelContainer {
    width: 90%;
    height: auto;
  }
  .hobbySection .hobby .travelContainer .travelImgContainer {
    height: auto;
  }
  .hobbySection .hobby .travelContainer .travelImgContainer img {
    height: auto;
  }
  .hobbySection .hobby .travelContainer .travelContent .innerContent p {
    padding-left: 15px;
  }
  .contact .wrapper {
    width: 100%;
  }
  .contact .wrapper .contactInfo {
    margin: 0 0 0 20px;
  }
  .contact .wrapper .contactInfo .content {
    width: 100%;
    margin-left: 20px;
  }
  .contact .wrapper .contactInfo p {
    display: none;
  }
  .journey .journeyContent {
    margin-top: 30px;
  }
  .journey .journeyContent h3 {
    font-size: 30px;
    font-size: 1.5rem;
  }
  .journey .journeyContent p {
    font-size: 20px;
    font-size: 1rem;
  }
  .imgGallery .wrapper .imgGalleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .imgGallery .wrapper .imgGalleryContainer .img1,
.imgGallery .wrapper .imgGalleryContainer .img2,
.imgGallery .wrapper .imgGalleryContainer .img3 {
    width: 100%;
    margin-bottom: 40px;
  }
  .blogContent .wrapper .sophieInfo .sophiePhotoContainer .sophiePhoto {
    margin-left: 0;
    width: 80%;
  }
  .blogContent .wrapper .sophieStory .sophieFullBlog h3 {
    font-size: 30px;
    font-size: 1.5rem;
  }
  .blogContent .wrapper .sophieStory .sophieFullBlog .sophieStorySubtitle {
    font-size: 20px;
    font-size: 1rem;
  }
  .blogContent .wrapper .sophieStory .sophieStoryBottomFirst,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 50px;
  }
  .blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomFirstImg,
.blogContent .wrapper .sophieStory .sophieStoryBottomFirst .sophieStoryBottomSecondImg,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomFirstImg,
.blogContent .wrapper .sophieStory .sophieStoryBottomSecond .sophieStoryBottomSecondImg {
    width: 50%;
  }
  .blogContent .wrapper .sophieStory .sophieStoryForm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContent .wrapper .sophieStory .sophieStoryForm .separateSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContent .wrapper .sophieStory .sophieStoryForm .separateSection input {
    width: 100%;
  }
  .contactMain .wrapper {
    width: 100%;
  }
  .contactMain .wrapper .contactContainer {
    margin: 100px 0 0;
  }
  .contactMain .wrapper .contactForm {
    margin: 0;
  }
  .contactMain .wrapper .contactForm .separateSection #name {
    margin-top: 20px;
  }
}
@media screen and (max-width: 320px) {
  #home .wrapper .headingTitle {
    margin-left: 10px;
  }
  .blogContent .wrapper .sophieStory .sophieFullblog h3 {
    font-size: 15px;
    font-size: 0.75rem;
  }
  .contactMain .wrapper .contactContainer {
    height: 270px;
  }
  .contactMain .wrapper .contactContainer .contactDetails {
    padding: 15px 15px 0;
  }
  .contactMain .wrapper .contactForm {
    margin: 0;
  }
  .contactMain .wrapper .contactForm .separateSection #name, .contactMain .wrapper .contactForm .separateSection #email {
    padding: 10px;
  }
  .contactMain .wrapper .contactForm .separateSection #name {
    margin-top: 20px;
  }
}